<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Bet against the machine</title>
    <script language="javascript" type="text/javascript" src="/batm/static/libs/p5.min.js"></script>
    <script language="javascript" type="text/javascript" src="/batm/static/libs/web3.min.js"></script>
    <script language="javascript" type="text/javascript" src="/batm/static/scripts/batm_abi.js"></script>
    <link rel="stylesheet" href="/batm/static/css/style.css">
</head>

<body>
    <div class="centered">
        <p class="saving">Connecting to MetaMask<span>.</span><span>.</span><span>.</span></p>
        <p class="note">If MetaMask is not installed, please install it.</p>

    </div>
    <script type="text/javascript" src="/batm/static/scripts/sketch.js"></script>
    <script type="text/javascript" src="/batm/static/scripts/main.js"></script>
</body>

</html>
